.top-page-header{
  background-color: red;
  height: 15vh;
  align-items: center;
}
.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 15vh;
}
.lists-left{
  display: flex;
  list-style: none;
}
.lists-right{
  display: flex;
  list-style: none;
  align-items: center;
}
.header-list{
  text-decoration: none;
  color: black;
  margin-right: 50px;
  margin-top: 20px;
}