.top-page-header{
  background-color: #32cd32;
  height: 15vh;
  align-items: center;
}
.content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 15vh;
}
.lists-left{
  display: flex;
  list-style: none;
}
.lists-right{
  display: flex;
  list-style: none;
  align-items: center;
}
.header-list{
  text-decoration: none;
  color:white;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 20px;
}
.title-list{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 20px;
}