.sinki{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid black;
}
.form-group{
  text-align: center;
  margin-top: 40px;
}
.form-text{
  font-size: 20px;
}
.input-text{
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
  text-align: center;
}
.actions{
  text-align: center;
}
.register-red-btn{
  margin-top: 35px;
  padding: 10px 50px 10px 50px;
  margin-bottom: 35px;
}
.login-flash-message{
  text-align: center;
  color: red;
}

.input-tweet{
  padding: 10px 50px 80px 50px;
  margin-top: 20px;
  text-align: center;
}